<a href="https://colab.research.google.com/github/Balraj4347/Create-database-in-spark/blob/main/Spark_database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Running Pyspark in Colab

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark

Now that you installed Spark and Java in Colab, it is time to set the environment path which enables you to run Pyspark in your Colab environment. Set the location of Java and Spark by running the following code:

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"
!ls /usr/lib/jvm/

default-java		   java-11-openjdk-amd64     java-8-openjdk-amd64
java-1.11.0-openjdk-amd64  java-1.8.0-openjdk-amd64

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
!pip install -U pyarrow

Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (7.0.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow) (1.21.6)

# Create database in spark

Even Roll no. : Spark

Task:
Create a database:
student(student_id, name,(subject1:marks, subject2:marks),name,(subject1:marks,subject2:marks),

student_id, name,(subject1:marks, subject2:marks))
1. Find avg of all the subjects
2. Update marks of student2
3. Update database by adding one student details.

In [ ]:
data = [{ "ID": 1,"Name": 'A',"sub1": 6,"sub2": 7},
        { "ID": 2,"Name": 'B',"sub1": 5,"sub2": 8},
        { "ID": 3,"Name": 'C',"sub1": 7,"sub2": 9},
        ]
data

[{'ID': 1, 'Name': 'A', 'sub1': 6, 'sub2': 7},
 {'ID': 2, 'Name': 'B', 'sub1': 5, 'sub2': 8},
 {'ID': 3, 'Name': 'C', 'sub1': 7, 'sub2': 9}]

In [ ]:
dframe = spark.createDataFrame(data)
display(dframe)
dframe.show()
dframe.printSchema()

DataFrame[ID: bigint, Name: string, sub1: bigint, sub2: bigint]

+---+----+----+----+
| ID|Name|sub1|sub2|
+---+----+----+----+
|  1|   A|   6|   7|
|  2|   B|   5|   8|
|  3|   C|   7|   9|
+---+----+----+----+

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- sub1: long (nullable = true)
 |-- sub2: long (nullable = true)

In [ ]:
dframe.createOrReplaceTempView("db")
sqlDF = spark.sql("SELECT ID , (AVG(sub1)+AVG(sub2))/2 AS AVERAGE FROM db GROUP BY ID ORDER BY ID")
sqlDF.show()

+---+-------+
| ID|AVERAGE|
+---+-------+
|  1|    6.5|
|  2|    6.5|
|  3|    8.0|
+---+-------+

In [ ]:
from pyspark.sql.functions import when
dframe = dframe.withColumn("sub1", when(dframe.ID == "2","10") \
      .otherwise(dframe.sub1))
dframe.show()

+---+----+----+----+
| ID|Name|sub1|sub2|
+---+----+----+----+
|  1|   A|   6|   7|
|  2|   B|  10|   8|
|  3|   C|   7|   9|
|  4|   D|   4|   5|
+---+----+----+----+

In [ ]:
unknown_list = [['4', 'D','4','5']]
df2 = spark.createDataFrame(unknown_list)
dframe = dframe.union(df2)
dframe.show();

+---+----+----+----+
| ID|Name|sub1|sub2|
+---+----+----+----+
|  1|   A|   6|   7|
|  2|   B|   5|   8|
|  3|   C|   7|   9|
|  4|   D|   4|   5|
+---+----+----+----+